<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garufa.tabletoproulette" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.garufa.tabletoproulette.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="@string/collection_string"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GameInfo"
            android:parentActivityName=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="Details"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchListView"
            android:parentActivityName=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="@string/search_string"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchDetails"
            android:parentActivityName=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="@string/details_string"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".QueryRandom"
            android:parentActivityName=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="@string/details_string"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TestListView"
            android:parentActivityName=".CollectionListView"
            android:icon="@drawable/ic_launcher"
            android:label="@string/search_string"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
